<div class="product-list container">
  <h3 class="mt-4">Product List</h3>
  <app-product-search-bar
    (categoryChanged)="onSearch($event)"
  ></app-product-search-bar>
  <div [hidden]="!productList || !productList.length">
    <table
      #dataTable
      mat-table
      [dataSource]="dataSource"
      matSort
      class="table"
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h5>ID</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="custom-column">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h5>Title</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="custom-column">
          {{ element.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h5>Category</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="custom-column">
          {{ element.category }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h5>Price</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="custom-column">
          {{ element.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="viewDetails">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="custom-column">
          <a [routerLink]="['/product/product-details/', element?.id]">View</a>
        </td>
      </ng-container>

      <tbody>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </tbody>
    </table>
  </div>
  <div [hidden]="!!productList && !!productList.length" class="text-center">
    <h2>No record found</h2>
  </div>
</div>
